---
layout: default
permalink: /{{lang}}{{ paged.href }}index.html
renderData:
  title: "{{ paged.title }}"
  description: "{{ paged.description }}"
pagination:
  data: collections.videos
  size: 1
  alias: paged
  resolve: values
  addAllPagesToCollections: true
---
<div class="w-layout-container--narrow w-post-content">
  <header class="w-article-header">
    <h1 class="w-article-header__headline">{{ paged.title }}</h1>
    <div class="w-author__published">
      <time>{{ paged.data.date | prettyDate }}</time>
    </div>
  </header>
  <figure>
    {% YouTube paged.data.videoId %}
  </figure>
  <p>{{ paged.data.description }}</p>
</div>
